


.app {

  max-width:1200px;
 
  padding:100px;
  padding-top:10px;
  margin-top:20px;
  margin-bottom:70px;
  margin-left:50px;
  margin-right:50px;
  
}

.bigApp {

  display:flex;
  justify-content: center;
  text-align:center;
}

.tool {

  margin:20px;
  padding:20px;
  padding-top:0px;
  margin-top:0px;
}

