.App {
  text-align: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
}

li {
  height: 40vh;
  flex-grow: 1;
  list-style-type: none;
}

img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}


.app {

  max-width:1200px;
  padding:100px;
  padding-top:10px;
  margin-top:20px;
  margin-bottom:70px;
  margin-left:200px;
  margin-right:200px;
  text-align:center;
}

.tool {

  margin:20px;
  padding:20px;
  padding-top:0px;
  margin-top:0px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
